FLASK_ENV=development
SECRET_KEY=replace_with_random_secret

DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=YOUR_MACHINE\SQLEXPRESS
DB_NAME=SmartBank
DB_TRUSTED_CONNECTION=yes

MAX_TRANSFER_PER_TX=50000.00
MAX_TRANSFER_PER_DAY=500000.00